.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;

  h1 {
    font-weight: 700;
    font-size: 32px;
  }
  img {
    width: 23px;
    height: 18px;
    cursor: pointer;
  }
}
.titleMargin {
  margin: 0 0 -10px;
}
.main__articleCards {
  display: flex;
  gap: 10px;
}
.main__articleCard {
  position: relative;
  width: 265px;
  height: 234px;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    font-weight: 800;
    font-size: 20px;
    max-width: 233px;
    width: 100%;
  }
  img {
    width: 175px;
    height: 175px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  span {
    font-weight: 800;
    font-size: 14px;
  }
}

.main__quiz_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

}

.main__quiz_card {
  width: 302px;
  height: 234px;
  position: relative;
  padding: 13px 0 24px;
  border-radius: 8px;
  border: 2px solid;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    width: 135px;
  }

  p {
    font-weight: 800;
    font-size: 24px;
  }
  span {
    font-weight: 600;
    font-size: 16px;
  }
}

.back_btn {
  display: flex;
  align-items: center;
  max-width: 940px;

  img {
    cursor: pointer;
  }
  p {
    font-weight: 700;
    font-size: 32px;
    position: relative;
  }
  .back_btn_arrow_left {
    width: 23px;
    height: 18px;
    cursor: pointer;
  }
}
.titleWithBackgraund {
  cursor: pointer;
  max-width: 291px;
  width: 100%;
  max-height: 54px;
  height: 100%;
  display: flex;
  align-items: center;
  background: url('src/assets/images/back_btn_backgraund.svg') no-repeat;
  background-size: cover;
  justify-content: center;
  p {
    font-weight: 700;
    font-size: 32px;
  }
}

.allQuiz_cards {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}

.allQuiz_card {
  height: 512px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 48px;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  img {
    width: 200px;
  }
  p{
    font-weight: 800;
    font-size: 40px;
  }
  span {
    font-weight: 600;
    font-size: 20px;
  }
}
.startBtn_quizBlock{
  padding-bottom: 36px;
}
.startBtn_quiz {
  width: 358px;
  height: 48px;
  outline: none;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.quizBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quizImg {
  width: 242px;
  height: 242px;
  margin: 32px 0 36px;
}
.quizDescription {
  max-width: 626px;
  width: 100%;
  margin-bottom: 36px;
  p {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
  }
}
.quizTest__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;

  p {
    font-weight: 700;
    font-size: 18px;
  }
}
.quizTest__question {
  margin: 0 auto;
  max-width: 626px;
  width: 100%;
  p{
    font-weight: 700;
    font-size: 32px;
    margin: 32px 0 48px;
    text-align: center;
  }
}
.quizTest__progressBar {
  position: relative;
  max-width: 940px;
  width: 100%;
  height: 12px;
  border-radius: 13px;
  border: solid 2px;
  overflow: hidden;
}
.quizTest__progress {
  position: absolute;
  height: 100%;
  background-color: #B9FFA0;

}
.quizTest__answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 56px;
}
.quizTest__answer {
  max-width: 400px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: solid 1px;
  cursor: pointer;
  outline: none;
  background: none;
}
.quizTest__btnNextQuestion {
  max-width: 400px;
  width: 100%;
  height: 48px;
  outline: none;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
