@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&family=Yanone+Kaffeesatz&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: 'Nunito', sans-serif;
}
.container {
  width: 940px;
  max-width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: unset;
}
h1{

}
h2 {
  font-size: 32px;
  font-weight: 800;
}

@media only screen and (max-width: 768px){
  section {
    padding: 40px 0;
  }

  h1,h2 {
    font-size: 1.5rem;
  }
}